span
{
font-size:30px;
color:blue;
}

h1
{
color:red;text-align:center;
}

h2

{
font-size:30px;
}

h3
{
color:orange;
text-align:center;
font-size:30px;
}

ul
{
font-size:30px;
}

.cls1
{

color:brown;
font-size:30px;
text-align:center;
border-style:dotted;
}


.cls2
{

color:gray;
font-size:30px;
text-align:center;
border-style:dashed;

}

.cls3
{

color:violet;
font-size:30px;
text-align:center;
border-style:solid;
}


.cls4
{

color:pink;
font-size:30px;
text-align:center;
border-style:double;
}

.cls5
{

color:lightgreen;
font-size:30px;
text-align:center;
border-style:inset;
}

.cls6
{
color:skyblue;
font-size:30px;
text-align:center;
border-style:outset;
}

.cls7
{
color:black;
font-size:30px;
text-align:center;
border-style:none;

}


.advprpty

{
color:red;
font-size:40px;
text-align:center;
}

.stx
{
color:white;

font-size:45px;
text-align:left;

}



.cls8
{
color:darkgreen;
font-size:30px;
text-align:center;
border-top-style:dotted;
border-right-style:double;
border-bottom-style:solid;
border-left-style:inset;

}

p
{
color:gray;
font-size:25px;

}


.cls9
{
color:lightgreen;
font-size:30px;
text-align:center;
border-style:dotted double solid inset;
}


.cls10
{
color:brown;
border-style:dotted;
font-size:40px;
text-align:center;
border-width:30px;
}

.cls11
{
color:gray;
border-style:dashed;
font-size:40px;
text-align:center;
border-width:30px;
}

.cls12
{
color:violet;
border-style:solid;
font-size:40px;
text-align:center;
border-width:30px;
}

.cls13
{
color:pink;
border-style:double;
font-size:40px;
text-align:center;
border-width:30px;
}

.cls14
{
color:lightgreen;
border-style:inset;
font-size:40px;
text-align:center;
border-width:30px;
border-color:lightgreen;
}

.cls15
{
color:skyblue;
border-style:outset;
font-size:40px;
text-align:center;
border-width:30px;
border-color:skyblue;
}

.bdrclr
{
color:orange;
font-size:50px;
text-align:center;

}

.cls16
{
color:gray;
border-style:double;
font-size:40px;
text-align:center;
border-width:30px;
border-color:brown;
}

.cls17
{
color:violet;
border-style:inset;
font-size:30px;
text-align:center;
border-width:35px;

border-top-color:lightgreen;
border-right-color:red;
border-bottom-color:blue;
border-left-color:orange;

}

.cls18
{
border-style:solid;
border-color:skyblue;
color:pink;
font-size:65px;
text-align:center;
border-width:35px;
border-radius:50px;
}

.cls19
{

border-style:double;
border-color:blue;
color:orange;
font-size:50px;
text-align:center;
border-width:45px;
border-radius:100px 10px 100px 10px;
}

.cls20
{
border-style:inset;
border-color:red;
color:green;
background-color:lightgreen;
font-size:70px;
text-align:center;
border-width:30px;
border-radius:40px;
}


body
{
background-image:url("../html images/des.gif");
}