h1
{
font-size:50px;
color:red;
background-color:lightpink;
text-align:center;
margin:2px 12cm;
border:5px inset red;
}

h1:hover
{
color:green;
background-color:lightgreen;
text-align:center;
border-color:green;
margin:5px 12cm;

}


ol li
{
font-size:40px;
color:blue;
background-color:lightblue;
text-align:center;
margin:20px 11cm ;
width:612px;
list-style-type:none;
}

ol li:hover
{
background-color:skyblue;
}


.part1
{
background-color:#6FC9BF;
border-style:double;
border-color:#01625B;
border-width:5px;
border-radius:60px;
}

#sidehead
{
font-size:35px;
color:blue;
margin:1cm 25cm 1px 5px;
border-radius:30px;
padding:10px;
}

#sidehead:hover
{
background-color:skyblue;
}

.part2 p
{
font-size:25px;
color:red;
}
.part2 p:hover
{
background-color:pink;
border-radius:10px;
}

.part3>p
{
font-size:25px;
color:red;
}
.part3>p:hover
{
background-color:pink;
border-radius:10px;
}


.part4+p
{
font-size:25px;
color:red;
}
.part4+p:hover
{
background-color:pink;
border-radius:10px;
}

.part5~p
{
font-size:25px;
color:red;
}
.part5~p:hover
{
background-color:pink;
border-radius:10px;
}

span
{
color:gray;
font-size:20px;
vertical-align:middle;
}
span:hover
{
color:black;
}

body
{
background-image:url("../html images/white.gif");
background-repeat:no-repeat;
background-size:300%;
}