h1
{
color:red;
text-align:center;

}


.part1
{
color:purple;
text-align:center;
display:block;
}

.part2
{
color:blue;
text-align:left;
display:inline;
font-size:40px;
}

.part3
{
color:violet;
font-size:30px;
text-align:left;
}

ul li
{
display:inline;
font-size:25px;
color:brown;
}

span
{
font-size:25px;
display:block;
color:brown;
}


.part4
{
font-size:25px;
color:brown;
display:none;
}

p
{
color:brown;
font-size:25px;
visibility:hidden;
}

body
{
background-color:lightyellow;
}

a
{
color:gray;
font-size:20px;
}