
h1
{
font-size:50px;
color:black;
border:5px inset black;
text-align:center;
margin:10px 12cm;
}

h1:hover
{
background-color:gray;
margin:12px 12cm;
font-style:italic;
}


#part1
{

width:500px;
height:500px;
float:left;
clear:both;

}
#part5
{
float:right;
clear:right;
font-size:25px;
}


#part2
{
width:500px;
height:500px;
float:right;
}

#part6
{
float:left;
clear:both;
font-size:25px;

}



#part3
{
width:500px;
height:500px;
float:left;
clear:both;
}

#part7
{
float:right;
clear:both;
font-size:25px;

}


#part4
{
width:500px;
height:500px;
float:right;
clear:both;
}

#part8
{
float:left;
clear:both;
font-size:25px;
}


