h1
{
font-size:60px;
color:red;
text-align:center;
border-style:solid;
border-width:10px;
border-color:green;
background-color:lightgreen;
margin:1px 15cm;
padding:5px;
}

h1:hover
{
background-color:white;
border-color:black;
color:blue;
}

.fa-google
{
font-size:5cm;
color:blue;
margin:36px 5cm 1px 17.5cm;
}

.fa-google:hover
{
font-size:6cm;
color:white;
border-style:double;
border-width:5px;
background-color:blue;
border-radius:60px;
padding:5px;

}

.fa-youtube
{
font-size:5cm;
margin:36px 5cm 1px 17.5cm;
color:#F55D58;
}

.fa-youtube:hover
{
font-size:6cm;
color:red;
background-color:white;
border-style:double;
border-radius:60px;

}

.fa-envelope
{
font-size:5cm;
margin:36px 5cm 1px 17.5cm;
color:lightgreen;
}

.fa-envelope:hover
{
font-size:6cm;
color:orange;
background-color:white;
border-style:double;
border-radius:60px;
padding:5px;
}

.intlnk
{
color:black;
font-size:50px;
border-style:solid;
padding:5px;
border-radius:50px;
background-color:blue;
}

.intlnk:hover
{
background-color:white;
}

.kg
{
font-size:60px;
text-decoration:none;

color:red;
background-color:lightgreen;
border-style:dotted;
border-radius:50px;
border-width:5px;
border-color:green;

}

.kg:hover
{
background-color:white;
color:blue;
font-style:italic;
border-color:blue;
}

body
{
background-color:#DDDDDD ;
}