h1
{
font-size:50px;
color:red;
border-style:inset;
border-color:yellow;
border-width:8px;
text-align:center;
margin:1px 13cm;
}

h1:hover
{
background-color:green;
}


.head1
{
font-style:times;
font-size:40px;
color:green;
text-align:center;
}

.head2
{
font-style:times;
font-size:50px;
color:violet;
}



span
{
font-style:italic;
color:brown;
font-size:50px;
text-align:center;
}


ul
{
font-size:40px;
color:blue;
}
ul li
{
list-style-type:circle;
}

ol
{
font-size:50px;
color:blue;

}

