h1
{
color:red;
text-align:center;
}

.mar1
{
text-align:center;
color:blue;
font-size:30px;
border-style:double;
border-color:brown;
border-width:1cm;

margin:100px;   

}
h2
{
color:blue;
font-size:30px;
}
span
{
color:red;
font-size:40px;
}

.mar2
{
text-align:center;
font-size:30px;
border-style:double;
border-color:brown;
border-width:1cm;
color:blue;

margin-top:100px;
margin-right:400px;
margin-bottom:100px;
margin-left:400px;

}


h2
{
color:blue;
font-size:30px;
}

.mar3
{

text-align:center;
font-size:30px;
border-style:double;
border-width:1cm;
color:blue;
border-color:brown;


margin:10px 500px;
}


h3

{
font-size:35px;
color:gray;
}


.mar4
{

text-align:center;
font-size:30px;
border-style:double;
border-width:1cm;
color:blue;
border-color:brown;


margin:100px 5px 100px 800px;
}


.pad1
{
color:violet;
border-color:lightgreen;
font-size:40px;
border-style:inset;
border-width:1.5cm;

padding:100px;
}

.pad2
{
color:violet;
border-color:lightgreen;
font-size:40px;
border-style:inset;
border-width:1.5cm;

padding:10px 300px;
}


.pad3
{
color:violet;
border-color:lightgreen;
font-size:40px;
border-style:inset;
border-width:1.5cm;

padding:10px 5px 500px 600px;
}

body

{
background-image:url("../html images/star.gif")
}

