#t1
{
border:5px solid blue;
padding:15px;
width:350px;
height:60px;
}



#t2
{
border-bottom:5px solid green;
padding:15px;
width:350px;
height:60px;
}




td
{
vertical-align:bottom;
text-align:center;
}

table
{
border-collapse:collapse;
color:white;
font-size:30px;
}

th
{
vertical-align:middle;
}

td:nth-child(even)
{
background-color:skyblue;
}

td:nth-child(odd)
{
background-color:skyblue;
}

th:nth-child(odd)
{
background-color:purple;
}

th:nth-child(even)
{
background-color:purple;
}

#t2 th:nth-child(odd)
{
background-color:yellow;

}

#t2 th:nth-child(even)
{
background-color:yellow;
}

#t2 td:nth-child(even)
{
background-color:pink;
}

#t2 td:nth-child(odd)
{
background-color:pink;
}

th
{
color:black;
}

#t1 td:hover
{
background-color:#F437D9;
}

#t2 td:hover
{
background-color:#F437D9;
}


h1
{
font-size:60px;
color:red;
background-color:lightyellow;
text-align:center;
border-style:double;
border-width:4px;
margin:3px 10cm;
padding:6px;
}

h1:hover
{
color:green;
background-color:lightgreen;
padding:10px;

}